<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name , :class => "form-control" , :placeholder => "name" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description , :class => "form-control" , :placeholder => "decrire votre addresse"  %>
  </div>
  <div class="form-group">
    <%= f.label :type_id %><br>
    <%= f.text_field :type_id , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :categorie_id %><br>
    <%= f.text_field :categorie_id , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :lng  , :class => "form-control" , :placeholder => "inserer votre longitude"  %>
  </div>
  <div class="form-group">
    <%= f.text_field :lat , :class => "form-control" , :placeholder => "inserer votre latitude"  %>
  </div>
  <div class="form-group">
    <%= f.submit "Creer une addresse" , :class => "btn btn-default btn-login" %>
  </div>
<% end %>
